@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Add this to your global CSS or component styles */
html, body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

/* Or hide scrollbars completely while keeping scroll functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0e0f14;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}